body {
   display: flex;
   justify-content: center;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

tr td {
    border : 1px solid lightgray;
    padding: 15px;
}


.left {
    width: 100px;
}

.btn {
    width: 200px;
    height: 65px;
    border-radius: 5px;
    border : 0;
    font-size: 21px;
    background-color: #00bfff;
    color: #ffffff;
}

.id {
    width: 100px;
}

.price {
    width: 100px;
}